#elem1 {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid red;
}
#elem2 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid blue;
}
#elem3 {
    position: absolute;
    top: 180px;
    left: 180px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid green;
}
#elem4 {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid red;
}
#elem5 {
    position: absolute;
    top: 210px;
    left: 70px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid blue;
}
#elem6 {
    position: absolute;
    top: 220px;
    left: 80px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid green;
}