p {
	color: orange;
}
h1{
    color: green;
}
h2{
    color: blue;
}
h3{
    color: red;
}
h4{
    color: #3914AF
}
h5{
    color: rgb(129, 43, 58);
}
p{
    width: 300px;
}
td{
    width: 400px;
    height: 300px;
}
h1{
    text-align: right;
}
h2{
    text-align: center;
}
td{
    width: 500px;
}
th{
    text-align: left;
}
td{
    text-align: center;
}
p{
    width: 300px;
}
p{
    text-align: justify;
}
h2{
    width: 300px;
    text-align: center;
}

