#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color: white; /* задаем оранжевый цвет фона */
}
#elem {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 500px;
	height: 250px;
}
#elem1 {
	border: 1px solid red;
	width: 500px;
	height: 250px;
}
#el12{
	width: 500px;
	height: 250px;
	border-left: 3px solid yellow;
	border-right: 3px solid green;
	border-top: 3px solid blue;
	border-bottom: 3px solid red;
}
#aaa{
	width: 400px;
	height: 400px;
	border: 3px solid green;
	border-radius: 10px;
}
#sotka{
	width: 400px;
	height: 400px;
	border: 3px solid greenyellow;
	border-radius: 10px;
	background-color: greenyellow;
}
#elem234 {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px solid green;
}
#krug{
	width: 250px;
	height: 250px;
	border: 1px solid green;
	border-radius: 5px 20px 30px 20px;
}
#krug1 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 40px;
}
#krug2 {
	width: 300px;
	height: 300px;
	border: 1px solid green;
	border-radius: 10px 40px 20px;
}
#krug3 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 50%;
}
#elem4 {
	background-repeat: repeat-y;
	background-image: url("bg.png");
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
#elem5{
	background-repeat: repeat-x;
	background-image: url("bg.png");
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
ul {
	list-style-type: none;
}
ol{
	list-style-type: lower-alpha;
}
#lol{
	list-style-type: upper-alpha;
}
#lowgr{
	list-style-type: lower-greek;
}
#parent {
	width: 300px;
	height: 300px;
	border: 1px solid blue;
	border: dashed;
}

#child {
	height: 200px;
	border: 1px solid orange;
	margin: 20px;
}
#parent1 {
	width: 300px;
	height: 300px;
	border: 1px solid red;
}
#child1 {
	margin-top:    15px; /* сверху */
	margin-right:  15px; /* справа */
	margin-bottom: 15px; /* снизу */
	margin-left:   15px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}
#parent2 {
	width: 300px;
	height: 300px;
	border: 1px solid orange;
}
#child2 {
	height: 100px;
	border: 1px solid blue;
	border-style: dashed;
	margin: 20px 40px 50px 10px;
}
#parent3 {
	width: 300px;
	height: 300px;
	border: 1px solid orange;
}
#child3 {
	height: 100px;
	border: 1px solid blue;
	border-style: dashed;
	margin: 50px 25px;
}
#parent4 {
	width: 300px;
	border: 1px solid orange;
}
#child4 {
	height: 100px;
	border: 1px solid blue;
	border-style: dashed;
	margin: 60px 30px 10px;
}
#elem1 {
	padding: 40px;
	width: 300px;
	height: 300px;
	border: 1px solid red;
	text-align: justify;
}
#elem2 {
	padding: 15px;
	width: 500px;
	height: 200px;
	border: 1px solid green;
	text-align: justify;
}
#elem3 {
	padding: 5px;
	width: 300px;
	height: 200px;
	border: 1px solid red;
	text-align: justify;
}
#elem41 {
	padding-top:    20px; /* сверху */
	padding-right:  10px; /* справа */
	padding-bottom: 30px; /* снизу */
	padding-left:   10px; /* слева */
	
	width: 150px;
	height: 400px;
	border: 1px solid red;
	text-align: justify;
}
#elem42 {
	padding-top:    20px; /* сверху */
	padding-right:  20px; /* справа */
	padding-bottom: 60px; /* снизу */
	padding-left:   60px; /* слева */
	
	width: 350px;
	height: 100px;
	border: 1px solid red;
	text-align: justify;
}
#elem43 {
	padding-top:    40px; /* сверху */
	padding-right:  25px; /* справа */
	padding-bottom: 60px; /* снизу */
	padding-left:   25px; /* слева */
	
	width: 350px;
	height: 100px;
	border: 1px solid red;
	text-align: justify;
}
#elem15{
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	padding: 25px; /* задаем отступы */
	border: 10px solid green;  /* задаем границу */
	box-sizing: border-box;  /* убираем расширение */
}
p {
	display: inline;
}
div {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
}
.parent_abc {
	border: 1px solid red;
	width: 400px;
	height: 400px;
	display: block;
}

.child_a {
	height: 100px;
	width: 100px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;
}
.child_b {
	height: 100px;
	width: 200px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;
}
.child_c {
	height: 100px;
	width: 350px;
	border: 1px solid green;
	margin: 10px auto;
	display: block;
}
.parent {
	padding: 10px 0;
	border: 1px solid red;
	text-align: center;
}
.parent123{
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
