
i {
	font-size: 30px;
}
ul {
	font-size: 20px;
}
h1, h2, h3{
    text-align: center;
    color: red;
}
p i {
	color: green;
}
p b i {
	color: red;
}
li > b{
	color: red;
}
.odd{
	color: red;
}
.eve{
	color: green;
}
.eee{
	color: red;
}
.xxx{
	font-size: 30px;
}
.krasn{
	color: red;
}
.zelen{
	color: green;
}
.sin{
	color: blue;
}
.kr{
	color: red;
}
.ze{
	color: green;
}
.eee {
	font-size: 20px;
}
.zzz {
	font-size: 30px;
}
.ggg {
	font-size: 35px;
}
.eee, .zzz, .ggg{
	text-align: center;
	font-family: Arial;
}
h2.header{
	font-size: 40px;
}
h3.header{
	font-size: 30px;
}
.eee i {
	color: red;
}
.eee .bbb {
	color: red;
}
.eee h2 {
	color: red;
}
.eee h2.bbb {
	color: red;
}
.eee h3.bbb {
	color: red;
}
.eee p.bbb {
	color: red;
}
.eee .bbb .kkk {
	color: red;
}
p.bbb {
	color: red;
}
p .bbb {
	color: red;
}
.eee p.bbb {
	color: red;
}
.eee p .bbb {
	color: red;
}
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
.Bol{
	font-size: large;
}
.cv{
	color: greenyellow;
}
.shr{
	font-family: Arial;
}
#elem1{
	color: red;
}
#elem2{
	color: green;
}
#elem3{
	color: blue;
}
#block{
	color: blueviolet;
}
.text{
	font-family: 30px;
}
#elem h2{
	color: green;
}
#elem .text{
	color: gold;
}
#elem p.text{
	color: blueviolet;
}
#elem li.text{
	color: greenyellow;
}
.eee.zzz.ccc{
	color: greenyellow;
}
.bbb.zzz {
	color: red;
}
/* Селектор выберет все элементы одновременно принадлежащие к классам bbb и zzz */
h2.bbb.zzz {
	color: red;
}
/* Селектор выберет заголовки h2 с классами bbb и zzz */
#elem.bbb {
	color: red;
}
/* Селектор выбирает все элементы класса bbb принадлежащие id elem */
#elem.bbb.zzz {
	color: red;
}
/* Селектор выбирает все элементы класса bbb и zzz принадлежащие id elem */