b {
	color: red;
}
p {
	color: blue;
}
i {
	font-size: 30px;
}
ul {
	font-size: 20px;
}
li {
	color: red;
	font-weight: bold;
}
h2 {
	color: blue;
}
h3 {
	font-size: 16px;
	color: red;
}
h1, h2, h3{
    text-align: center;

}
