.parent204	{
	display: flex;
	flex-direction: row-reverse;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.child204 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
.parent205	{
    display: flex;
    flex-direction:column;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child205 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
 
 .parent206	{
    display: flex;
    flex-direction:column-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child206 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.child208 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2081 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2082 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2091{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end ;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child209 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2092 {
    display: flex;
	flex-direction:  row;        
	justify-content: flex-end; 
	align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2101 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child210 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2102 {
	display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2103 {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2131 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child213 {
    width: 120px;
    border: 1px solid green;
}
.parent2132 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2132 {
    border: 1px solid green;
}
.parent2133 {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2133 {
    height: 60px;
    border: 1px solid green;
}
.parent2141 {
	display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2141 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
.parent2142 {
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2142 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
.parent2143 {
	display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2143 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
.parent2151 {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2151 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
.elem215 {
    align-self: flex-end;
    
}
.parent2152 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2152 {
    width: 120px;
    border: 1px solid green;
}
.elem2152 {
    align-self: center;
    
}
.parent2153 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2153 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.elem2153 {
    align-self: center;
}
.parent216 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.child216 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
.elem216{
    order: 1;
    border: 1px solid orangered;
}
#parent2201 {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2201 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2202 {
	display: grid;
	grid-template-columns: 200px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2202 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2203 {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2203 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2204 {
	display: grid;
	grid-template-columns: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2204 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2211 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2211 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2212 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2212 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2213 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2213 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2221 {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2221 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2222 {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2222 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2231 {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2231 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2232 {
	display: grid;
	grid-template-columns: 100px 1fr 1.5fr 100px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2232 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2241 {
	display: grid;
	grid-template-columns: 20% 1fr 1fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2241 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2242 {
	display: grid;
	grid-template-columns: 100px 20% 1fr 2fr 4fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2242 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2251 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2251 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2252 {
	display: grid;
	grid-template-columns: repeat(4, 100px) repeat(3, 2fr);
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2252 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2261 {
	display: grid;
	grid-template-columns: 200px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2261 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2262 {
	display: grid;
	grid-template-columns: 100px 150px auto;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2262 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2271 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent2271 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2281 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 800px;
}
#parent2281 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2291 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2291 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2301 {
	display: grid;
	grid-template-rows: 100px 150px 200px;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2301 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent2311 {
	display: grid;
	grid-template: 0.5fr 2fr  / 0.5fr 2fr 1fr 2.5fr;
	border: 2px solid #696989;
	padding: 10px;
	width: 600px;
}
#parent2311 > div {
	padding: 10px;
	border: 1px solid #696989;
}
#parent232 {
    display: grid;
    padding: 10px;
    border: 2px solid #696989;
    height: 300px;
    width: 400px;
  }
  #parent232 > div {
    padding: 10px;
    border: 1px solid #696989;
  }
  #elem1 {
    grid-row: 1 / 2;
  }
  #elem2 {
    grid-row: 2 / 3;
  }
  #elem3 {
    grid-row: 1 / 2;
  }
  #elem4 {
    grid-row: 2 / 4;
  }
  #elem5 {
    grid-row: 3 / 4;
  }


