#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color: white; /* задаем оранжевый цвет фона */
}
#elem {
	border-width: 5px;
	border-style: double;
	border-color: blue;
	width: 500px;
	height: 250px;
}
#elem1 {
	border: 1px solid red;
	width: 500px;
	height: 250px;
}
#el12{
	width: 500px;
	height: 250px;
	border-left: 3px solid yellow;
	border-right: 3px solid green;
	border-top: 3px solid blue;
	border-bottom: 3px solid red;
}
#aaa{
	width: 400px;
	height: 400px;
	border: 3px solid green;
	border-radius: 10px;
}
#sotka{
	width: 400px;
	height: 400px;
	border: 3px solid greenyellow;
	border-radius: 10px;
	background-color: greenyellow;
}
#elem234 {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px solid green;
}
#krug{
	width: 250px;
	height: 250px;
	border: 1px solid green;
	border-radius: 5px 20px 30px 20px;
}
#krug1 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 40px;
}
#krug2 {
	width: 300px;
	height: 300px;
	border: 1px solid green;
	border-radius: 10px 40px 20px;
}
#krug3 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 50%;
}
#elem4 {
	background-repeat: repeat-y;
	background-image: url("bg.png");
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
#elem5{
	background-repeat: repeat-x;
	background-image: url("bg.png");
	width: 500px;
	height: 500px;
	border: 1px solid black;
}
ul {
	list-style-type: square;
}