.parent204	{
	display: flex;
	flex-direction: row-reverse;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.child204 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
.parent205	{
    display: flex;
    flex-direction:column;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child205 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
 
 .parent206	{
    display: flex;
    flex-direction:column-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child206 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.child208 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2081 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2082 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2091{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end ;
    align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child209 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2092 {
    display: flex;
	flex-direction:  row;        
	justify-content: flex-end; 
	align-items: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2101 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child210 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent2102 {
	display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2103 {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.parent2131 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child213 {
    width: 120px;
    border: 1px solid green;
}
.parent2132 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2132 {
    border: 1px solid green;
}
.parent2133 {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2133 {
    height: 60px;
    border: 1px solid green;
}
.parent2141 {
	display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2141 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
.parent2142 {
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child2142 {
    height: 60px;
    width: 120px;
    border: 1px solid green;
}
