/* #elem1 { 
    position: absolute;
    top: 60px;
    left: 60px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid red;
}
#elem2 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid blue;
}
#elem3 {
    position: absolute;
    top: 180px;
    left: 180px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid green;
}
#elem4 {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid red;
}
#elem5 {
    position: absolute;
    top: 210px;
    left: 70px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid blue;
}
#elem6 {
    position: absolute;
    top: 220px;
    left: 80px;
    width: 50px;
    height: 50px;
    color: red;
    border: 1px solid green;
}*/
#elem_1 {
    position: relative;
    left: 20px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem_2 {
    position: relative;
    left: 70px;
    top: -50px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem_3 {
    position: relative;
    left: 120px;
    top: -100px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}
#parent_1 {
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid red;
}
#child_1 {
	position: absolute;
	top: 100px;
	left: 100px;
	
	width: 100px;
	height: 100px;
	border: 1px solid green;
}
#parent_2{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #4DEE99;
}
#child_2_1{
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: white;
}
#child_2_2{
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: white; 
}
#elem_4 {
	position: absolute;
	top:    100px;
	right:  100px;
	bottom: 100px;
	left:   100px;
	
	border: 1px solid green;
}
#elem_5 {
	position: absolute;
	top:    100px;
	right:  200px;
	bottom: 50px;
	left:   10px;
	
	border: 1px solid green;
}